.tabs {
    &__content {
        display: none; /* по умолчанию прячем все блоки */
        background-color: var(--bg);
        padding-top: 104px;
        &.active {
            display: block; /* по умолчанию показываем нужный блок */
        }
    }
    
    &__caption {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 0 0 40px 0;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            height: 4px;
            
          }
        &::-webkit-scrollbar-track {
            background: transparent;
          }
        &::-webkit-scrollbar-thumb {
            background-color: #B7B7B7;
            border-radius: 3px;
          }
        gap: 21px;
        li {
            height: 48px;
            white-space: nowrap;
            border-radius: 4px;
            padding: 2px 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--grey-light);
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: var(--bold);
            transition: color .3s, background-color .3s;
            cursor: pointer;
            &:hover {
                background-color: var(--blue-light);
                color: var(--accent);
            }
            &.active {
                color: var(--white);
                background-color: var(--accent);
            }
        }
    }
}
  .about {
    padding: 40px 0;
    &__text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        &__text {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--regular);
        }
    }
    &__blue-text {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: var(--accent);
    }
    &__for {
        padding: 161px 0 108px;
        color: #fff;
        .heading {
            color: #fff;
            margin-bottom: 12px;
        }
        .title {
            text-align: center;
        }
       
        &__wrapper {
            margin-top: 48px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }
        &__item {
            border-radius: 4px;
            padding: 32px 32px 38px;
            background: var(--accent);
        }
        &__title {
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
            color: var(--white);
            margin: 0 0 38px;
        }
        .fs_16 {
            margin: 0;
            max-width: 470px;
        }
    }
    &__tasks {
        padding: 40px 0 112px;
        &__wrapper {
            margin-top: 48px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }
        .title {
            text-align: center;
        }
        &__item {
            border-radius: 4px;
            background: var(--white);
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--regular);
            padding: 32px 32px 32px 72px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 16px;
                height: 11px;
                display: block;
                background: url(../img/icon-ckeck.svg) no-repeat center/contain;
                left: 36px;
                top: 38px;
            }
        }
    }
    &__career {
        background: var(--accent);
        padding: 104px 0 105px;
        .title {
            text-align: center;
            color:#fff;
        }
        &__subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: var(--white);
            max-width: 528px;
            margin: 16px auto 0;
        }
        &__wrapper {
            margin-top: 48px;
            display: grid;
            gap: 32px;
            grid-template-columns: repeat(2, 1fr);

        }
        &__item {
            border: 1px solid var(--white);
            border-radius: 4px;
            background: #bfd6f4;
            padding: 24px 32px;
            margin-bottom: 32px;
            position: relative;
            .heading {
                margin-bottom: 12px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: var(--regular);
                margin: 0;
            }
        }
        &__num {
            position: absolute;
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: var(--accent);
            width: 48px;
            height: 48px;
            border-radius: 100%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 32px;
            top: -24px;
        }
        &__img {
            background: url(../img/about-career-img.png) no-repeat bottom center/contain;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding: 32px;
            border: 1px solid var(--white);
            border-radius: 8px;
            &-text {
                margin: 0 0 24px 0;
                font-weight: 700;
                font-size: 20px;
                line-height: 140%;
                color: var(--white);
                
            }
            .btn_white {
                width: 100%;
            }
        }
    }
    &__learn {
        padding: 104px 0 168px;
        .title {
            text-align: center;
        }
        &__accord {
            margin-top: 48px;
            summary {
                font-weight: 700;
                font-size: 20px;
                padding: 42px 80px 42px 32px;
                color: #000;
                cursor: pointer;
                
                position: relative;
                &::before {
                    content: '';
                    
                    display: block;
                    border-radius: 100%;
                    width: 48px;
                    height: 48px;
                    background-color: var(--bg);
                    position: absolute;
                    right: 32px;
                    top: 32px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 8px;
                    display: block;
                    background: url(../img/icon-arrow.svg) no-repeat center/contain;
                    right: 49px;
                    top: 52px;
                    transform: rotate(180deg);
                }
            }
            details {
                margin-bottom: 24px;
                background-color: #fff;
            }
            details[open] {
                summary {
                    &::after {
                        transform: rotate(0deg);
                    }
                }
            }
            .btn_main {
                margin: 48px auto 0;
                display: block;
            }
        }
        &__list {
            margin: 0;
            padding: 32px 32px 0;
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border-top: 1px solid var(--grey-light);
            li {
                position: relative;
                padding-left: 36px;
                margin-bottom: 32px;
                &::before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    background-color: var(--accent);
                    top: 8px;
                    left: 8px;
                    border-radius: 100%;
                }
            }
        }
    }
    &__programm {
        padding-top: 0;
        padding-bottom: 36px;
        .about__learn__accord {
            margin-top: 32px;
        }
        &__info {
            display: flex;
            justify-content: flex-start;
            gap: 32px;
            margin-top: 48px;
            &-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: var(--regular);
                margin: 0;
                display: flex;
                align-items: center;
                gap: 8px;
                &::before {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
                &-form {
                    &::before {
                        background-image: url(../img/icon-form.svg);
                    }
                }
                &-time {
                    &::before {
                        background-image: url(../img/icon-time.svg);
                    }
                }
                &-test {
                    &::before {
                        background-image: url(../img/icon-test.svg);
                    }
                }
            }
        }
        &__content {
            margin: 0;
            padding: 32px;
            border-top: 1px solid var(--grey-light);
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--regular);
        }
        &__small {
            border: 1px solid var(--accent);
            border-radius: 4px;
            padding: 2px 16px;
            font-weight: 400;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--accent);
            margin-right: 16px;
            margin-bottom: 24px;
            height: 32px;
            &:last-child {
                margin-right: 0;
            }
        }

    }
    &__plan {
       padding: 112px 0 112px;
        &__wrapper {
            background: url(../img/about-plan-bg.jpg) no-repeat center right/cover;
            padding: 48px 56px 56px;
            border-radius: 8px;
            position: relative;
        }
        &__content {
            max-width: 440px;
        }
        &__text {
            margin: 24px 0 32px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--regular);
        }
        &__img {
            position: absolute;
            width: 48%;
            right: 5%;
            bottom: 0%;
        }
        .btn_main {
            margin: 48px auto 0;
            display: block;
            width: fit-content;
        }
    }
    &__form {
        padding: 112px 0;
        background: linear-gradient(45deg, #bfd5f3 0%, #e2eefa 100%);
        &__wrapper {
            display: flex;
            align-items: flex-start;
            gap: 34px;
            justify-content: space-between;
            padding: 48px 56px 56px;
            background-color: #fff;
            border-radius: 4px;
        }
        &__form {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-top: 8px;
            max-width: 536px;
        }
        .policy {
            margin-bottom: 14px;
        }
    }
    &__docs {
        padding-bottom: 32px;
        .title {
            text-align: center;

        }
        &__subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: var(--regular);
            margin: 24px auto 48px;
            max-width: 776px;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            gap: 32px;

        }
        &__item {
            border-radius: 4px;
            background: var(--white);
            padding: 32px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        .btn_main {
            display: block;
            margin: 48px auto 0;
        }
    }
    &__licens {
        padding: 104px 0 112px;
        .title {
            text-align: center;
            max-width: 721px;
            margin: 0 auto;
        }
        &__wrapper {
            display: flex;
            gap: 32px;
            padding: 56px 56px 54px;
            background: var(--white);
            margin-top: 48px;
        }
        &__item {
            margin-bottom: 16px;
            &__title {
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: var(--bold);
            }
            &__text {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: var(--regular);
            }
        }
        &__slider {
            width: 450px;
            max-width: 450px;
            position: relative;
            &-nav {
                cursor: pointer;
                max-width: 500px;
                position: absolute;
                right: 0;
                top: 24px;
                .slick-track {
                    display: flex;
                flex-direction: column;
                    width: 100%;
                    max-width: 100%;
                    transform: translate(0, 0px);
                }
            }
            &-for {
                width: 450px;
                
                .slick-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    font-size: 1px;
                    color: transparent;
                    border-radius: 100%;
                    background-color: var(--accent);
                    width: 40px;
                    height: 40px;
                    border: none;
                    z-index: 10;
                    
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        background: url(../img/icon-arrow-white.svg) no-repeat center/cover;
                        width: 8px;
                        height: 17px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .slick-prev {
                    left: -20px;
                    &::before {
                        transform: translate(-50%, -50%) rotate(180deg);
                    }
                }
                .slick-next {
                    left: auto;
                    right: 98px;
                }
            }
        }
    }
    &__treb {
        padding-bottom: 112px;
        .title {
            text-align: center;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
            margin-top: 48px;
            gap: 32px;
        }
        &__item {
            padding: 32px 32px 29px;
            min-height: 409px;
            &1 {
                border: 1px solid var(--accent);
                border-radius: 4px;
                background: url(../img/about-treb.png) no-repeat center bottom/72%;
            }
            &2 {
                border-radius: 4px;
                background: var(--white);
            }
            &__title {
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: var(--bold);
                margin: 0 0 12px;
            }

        }
        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--regular);
            margin: 18px 0 0;
            span {
                font-weight: 700;
            color: var(--bold);
            }
           
        }
        &__list {
            margin: 0;
            padding: 32px 32px 0;
            list-style-type: none;
           padding: 0;
            li {
                position: relative;
                padding-left: 36px;
                margin-bottom: 14px;
                &::before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    background-color: var(--accent);
                    top: 8px;
                    left: 8px;
                    border-radius: 100%;
                }
            }
        }
    }
    &__poryadok {
        padding-top: 36px;
        padding-bottom: 112px;
        .title {
            text-align: center;
        }
        &__item {
            border-radius: 4px;
            background: var(--white);
            padding: 32px;
            margin: 32px;
            min-height: 341px;
            .heading {
                margin-bottom: 22px;
            }
        }
        &__num {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            background-color: var(--accent);
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            &__wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &::before, &::after {
                    content:'';
                    flex-grow: 1;
                    border-bottom: 1px dashed var(--blue-middle);;

                }
               

            }
            
        }
        &__slider {
            margin-top: 52px;
            position: relative;
            .slick-arrow {
                position: absolute;
                top: -94px;
                
                cursor: pointer;
                font-size: 1px;
                color: transparent;
                border-radius: 100%;
                border: 1px solid var(--accent);
                background-color: transparent;
                width: 48px;
                height: 48px;
                
                z-index: 10;
                transition: background-color .3s;
                &:hover {
                    background-color: var(--accent);
                    
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    background: url(../img/icon-arrow.svg) no-repeat center/cover;
                    width: 8px;
                    height: 5px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                }
                }
                .slick-prev {
                    right: 64px;
                    &::before {
                        transform: translate(-50%, -50%) rotate(-90deg);
                    }
                }
                .slick-next {
                    right: 0;
                    
                }
            
        }
    }
    &__rews {
        padding-bottom: 112px;
        .title {
            text-align: center;
        }
        &__wrapper {
            margin: 48px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }
        &__item {
            border-radius: 4px;
            background: var(--white);
            padding: 32px;
            min-height: 304px;
        }
        &__photo {
            border-radius: 100%;
            overflow: hidden;
            width: 64px;
            height: 64px;
            margin-right: 16px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
        &__name {
            font-weight: 700;
            font-size: 20px;
            line-height: 140%;
            color: var(--bold);
        }
        &__job {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--accent);
        }
        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--regular);
            margin: 16px 0;
        }
        .btn_main {
            display: block;
            margin: 0 auto;
        }
    }
    &__quest {
        padding: 150px 0 112px;
        background: linear-gradient(45deg, #bfd5f3 0%, #e2eefa 100%);
        &__form {
            background: var(--white);
            padding: 48px 56px 56px;
            &__wrapper {
                margin-top: 24px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 32px;
                .form__input {
                    width: 100%;
                    display: block;
                    margin-bottom: 12px;
                }
            }
            .form__textarea {
                margin-bottom: 16px;
            }
            .btn_main {
                width: 100%;
                margin-top: 16px;
            }
        }
       
       
    }
    &__akt {
        padding: 112px 0 104px;
        .title {
            text-align: center;
        }
        .about__learn__accord {
            .fs_16 {
                border-top: 1px solid var(--grey-light);
                padding: 32px;
            }
        }
    }
  }
  .pt_0 {
    padding-top: 0;

}
.p-inline_0 {
    padding-left: 0;
    padding-right: 0;
}