.order {
    padding: 112px 0;
    background: linear-gradient(45deg, #bfd5f3 0%, #e2eef9 100%);
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    &__item {
        border-radius: 8px;
        background: var(--white);
        padding: 48px 56px;
        &:nth-child(2) {
            padding-top: 57px;
        }
        .title {
            margin-bottom: 20px;
        }
        .yellow-block, .light-blue-block {
            font-size: 14px;
            line-height: 143%;
            padding: 12px 16px;
            span {
                font-size: 14px;
            }
        }
        .yellow-block {
            margin-right: 12px;
        }
    }
    fieldset {
        border: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        padding: 0;
        margin: 0 0 8px 0;
    }
    
    .pay-option__mark {
        border: 1px solid var(--grey-light);
        border-radius: 4px;
        padding: 24px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: var(--regular);
        display: block;
        cursor: pointer;
        transition: border-color .3s;
    }
    .pay-option__input {
        width: 1px;
        height: 1px;
        margin: -1px;
        position: absolute;
        visibility: hidden;
        clip: rect(0, 0, 0, 0);
    }
    .pay-option__input:checked + .pay-option__mark {
        border-color: var(--accent);
    }
    .about__form__form {
        margin-top: 12px;
    }
    .form__textarea {
        height: 120px;
        margin-bottom: 6px;
    }
    .btn_main {
        margin-top: 20px;
    }
}