.pay {
    padding: 36px 0 108px;
    .title {
        text-align: center;
    }
    &__wrapper {
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
    &__item {
        border-radius: 8px;
        background: var(--bg);
        padding: 32px;
        .heading {
            margin-bottom: 16px;
        }

    }
    &__logo {
        width: 138px;
        height: 36px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
}