
:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Open Sans", sans-serif;
	--bold: #1a1a1a;
	--regular: #343434;
	--accent: #284773;
	--grey-middle: #888fa1;
	--grey-light: #dbe1ec;
	--bg: #f2f6fc;
	--white: #fff;
	--blue-middle: #bfd5f3;
	--blue-light: #e2eef9;
}